<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>通知列表</title>
    <link rel="stylesheet" type="text/css" href="../../../css/api.css"/> 
    <link rel="stylesheet" type="text/css" href="../../../css/commonContact.css"/> 

    <link rel="stylesheet" type="text/css" href="../../../script/aui/css/aui.css"/> 
    <style type="text/css"> 


  </style>
 </head>
<body> 
 
<div id="contactBox" class="contactBox" style="display: none;">


       <aside class="leftBar colRowBox touch-scroll"  >

            <ul class="ulList clearfix"  >

               <li @click="changeRightBar(0,0)" :class='onClass[0]' tapmode>
                全部 

              </li>
              <li v-for='(key,item) in leftBar' @click="changeRightBar(item.id,key)" :class='onClass[key+1]' tapmode> 

                {{item.xueke_mingcheng}}


              </li>
            </ul> 

       </aside>

       <section class="rightBar colRowBox touch-scroll">
            
            <ul class="ulList clearfix" id="ulList">

              <li @click="allSelect()" class="{{allActive ? 'activeTitle liHeader' : 'liHeader'}}" tapmode>
                全部({{rightBar.length}})
                <i class="iconfont icon-queren aui-pull-right aui-margin-r-10" ></i>

              </li>

            
              <li v-for='(key,item) in rightBar' @click="clickJiaoshi(item.jiaoshi_id,item.jiaoshi_mingcheng,$event)"  class="{{item.active ? 'active' : ''}}"  tapmode>



                {{item.jiaoshi_mingcheng}}
                <i class="iconfont icon-queren aui-pull-right aui-margin-r-10" ></i>

              </li>
            </ul> 

            <div class="noContact" v-if='rightBar.length===0'>暂无</div>

       </section>


</div>

       
</body>

<script type="text/javascript" src='../../../script/api.js'></script> 
<script type="text/javascript" src='../../../script/common.js'></script>
<script type="text/javascript" src='../../../script/frame0/reyuan.js'></script> 
<script type="text/javascript" src="../../../script/vue/vue.js"></script> 

<script type="text/javascript">
      apiready = function(){

        loadCommonJs();
 

                                                                                                                                                                                                
        if(api.safeArea.bottom > 0){

            $api.dom('.leftBar').style.paddingBottom = api.safeArea.bottom + 'px'
            $api.dom('.rightBar').style.paddingBottom = api.safeArea.bottom + 'px'
        }
 

        loadKezu({
           people : $api.getStorage('contact').kezu, 
        });

  
  
      }
        
    

       

    
  
</script>
  
 